@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-image: url("../../diwali-react/src/components/img/bg.jpg");
  background-size: 1580px 720px;
}

.container::before {
  content: "";
  height: 620px;
  width: 1480px;
  position: absolute;
  background-color: rgba(148, 148, 148, 0.527);
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  box-shadow: 3px 3px 3px rgba(119, 119, 119, 0.473);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  max-width: 100vh;
  /* border: 1px solid black; */
  position: relative;
  left: -5px;
  top: 30px;
}

.container h1 {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -80px;
  left: -396px;
}

.container .para1 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  left: -142px;
  top: -80px;
  left: -536px;
}

.container .para2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  position: relative;
  left: -498px;
  top: -80px;
}
.container h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -80px;
  left: -529px;
}
.container button {
  position: relative;
  left: -492px;
  height: 50px;
  width: 180px;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 5px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container button:hover {
  border: 5px solid greenyellow;
  color: greenyellow;
  background-color: rgba(172, 255, 47, 0.075);
}

.effects {
  display: flex;
  justify-content: center;
}

.effect-1 {
  height: 180px;
  width: 180px;
  /* border: 1px solid green; */
  position: absolute;
  top: 30px;
  border-radius: 50%;
  background-color: rgb(255, 175, 28);
  left: 425px;
  z-index: -1;
  animation: zoomIn 3s linear infinite;
}
.effect-2 {
  height: 80px;
  width: 80px;
  border: 5px solid rgb(255, 175, 28);
  position: absolute;
  top: 50px;
  /* border-radius: 50%; */
  /* background-color: rgb(255, 175, 28); */
  right: 85px;
  z-index: -1;
  animation: rotate 5s linear infinite;
}

@keyframes zoomIn {
  0%,
  100% {
    transform: scale(25px);
  }
  50% {
    transform: scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateMandala {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .diya {
  display: flex;
  position: absolute;
  right: 80px;
  top: 80px;
}

.container .items {
  position: relative;
  top: -80px;
  display: flex;
  z-index: 1;
}

.container .items .item-2 {
  position: absolute;
  left: 245px;
  z-index: -1;
  animation: rotate 10s linear infinite;
}

.container .items .item-3 {
  position: relative;
  left: 20px;
}

.container .items .item-1 img {
  position: relative;
  left: -120px;
  top: 10px;
  animation: rotateMandala 10s linear infinite;
}
.container .items .item-4 img {
  position: relative;
  right: -120px;
  top: 10px;
  animation: rotateMandala 10s linear infinite;
}

.home-section button {
  display: flex;
  height: 50px;
  width: 180px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  position: relative;
  left: 700px;
  z-index: 2;
  font-size: 18px;
  top: -50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home-section button a {
  text-decoration: none;
  color: white;
}
.home-section button:hover {
  border: 3px solid greenyellow;
  border-radius: 30px;
  background-color: rgba(172, 255, 47, 0.075);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 15px;
  background-color: rgb(253, 81, 1);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(245, 165, 18);
  border-radius: 5px;
  
}