* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/jcge_ge7y_191104.jpg");
  background-size: 1550px;
}

section {
  min-height: 100vh;
}

.container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
}

.home-section h1 {
  font-size: 50px;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 636px;
  /* font-family: "JetBrains Mono"; */
}

.items {
  display: flex;
  position: relative;
  top: 150px;
}

.item-2 {
  display: flex;
  position: relative;
  left: 160px;
  top: -20px;
  /* border: 1px solid green; */
  justify-content: center;
  align-items: center;
  z-index: -1;
  animation: mandala 10s linear infinite;
}

.item-3 {
  display: flex;
  position: relative;
  right: 215px;
}

.item-1 img {
  display: flex;
  animation: pink-mandala 10s linear infinite;
}
.item-4 img {
  display: flex;
  animation: pink-mandala 10s linear infinite;
}

@keyframes pink-mandala {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes mandala {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
